### Build e dipendenze ###
target/
build/
!src/main/**/target/
!src/test/**/target/
!src/main/**/build/
!src/test/**/build/

### IntelliJ IDEA ###
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/workspace.xml  # Evita conflitti su workspace.xml
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Visual Studio Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/

### Windows ###
Thumbs.db
/trialCardsList_output
/cardsList_output
/tileList_output
/serializerTest
/target-server/
/target-client/
/dependency-reduced-pom.xml
